@font-face {
  font-family: "iconfont"; /* Project id 4109819 */
  src: url('iconfont.woff2?t=1688626502123') format('woff2'),
       url('iconfont.woff?t=1688626502123') format('woff'),
       url('iconfont.ttf?t=1688626502123') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asp-chushihua:before {
  content: "\e625";
}

.asp-cemian:before {
  content: "\e65d";
}

.asp-ceju:before {
  content: "\e696";
}

.asp-suoxiao:before {
  content: "\ee33";
}

.asp-fangda:before {
  content: "\ee34";
}

.asp-wurenji1:before {
  content: "\e7a0";
}

.asp-map_shexiangtou:before {
  content: "\e6b7";
}

.asp-shexiangtou1:before {
  content: "\e853";
}

.asp-lujing:before {
  content: "\e601";
}

.asp-tuozhuai:before {
  content: "\e636";
}

.asp-fuhaoku:before {
  content: "\e7c9";
}

.asp-baoanzerenquyu:before {
  content: "\e737";
}

.asp-xuanzhuan:before {
  content: "\e6ef";
}

.asp-wenben:before {
  content: "\e649";
}

.asp-gaojing_gaojingjilu:before {
  content: "\e618";
}

.asp-35gaojingguize:before {
  content: "\e69a";
}

.asp-xinxi:before {
  content: "\e758";
}

.asp-xianduan:before {
  content: "\e62a";
}

.asp-tupian:before {
  content: "\e600";
}

.asp-yuan:before {
  content: "\e629";
}

.asp-edit-square:before {
  content: "\e70f";
}

.asp-delete:before {
  content: "\e710";
}

.asp-save:before {
  content: "\e711";
}

.asp-duobianxing:before {
  content: "\e832";
}

.asp-juxing:before {
  content: "\e6ba";
}

.asp-shexiangtou:before {
  content: "\e60e";
}

.asp-diqiu:before {
  content: "\e7b9";
}

.asp-wurenji:before {
  content: "\e6b9";
}

.asp-biaohuiguanli:before {
  content: "\e61d";
}

.asp-gaojing:before {
  content: "\e628";
}

.asp-guanbi:before {
  content: "\e612";
}

